@import "tailwindcss";

@layer base {
  :root{
    --color-background: #DFDDE4;
    --color-primary: #7B60A9;
    --color-secondary: #181321;
    --color-dark: #0C0910;
    --color-light: #A29AB0;
    --font-sans: Rubik, sans-serif;
  }
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-dark);
  }
}